.control:hover {
    color: var(--theme-btn-subtle-fg-hover);
    text-decoration: none;
}

.spoiler {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    cursor: pointer;
}

.control {
    width: 100%;
    padding: var(--theme-spacing-md) 0;
    color: var(--theme-colors-foreground);
}

.spoiler.can-expand {
    cursor: pointer;
}

.spoiler.is-expanded {
    max-height: 2500px !important;
}
