.root {
    font-family: var(--font-family);
    color: var(--theme-colors-foreground);
    user-select: auto;
}

.muted {
    color: var(--theme-colors-foreground-muted);
}

.root.link {
    cursor: pointer;
}

.root.link:hover {
    color: var(--theme-colors-foreground);
    text-decoration: underline;
}

.root.overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-select {
    user-select: none;
}
