.header {
    display: flex;
    justify-content: center;
    margin-bottom: var(--theme-spacing-md);
    background: var(--theme-colors-background);
    border-radius: 0;
}

.header h2 {
    width: 100%;
    font-size: var(--theme-font-size-2xl);
    font-weight: 700;
    user-select: none;
}

.content {
    padding: var(--theme-spacing-md);
    overflow: hidden;
    background: var(--theme-colors-background);
    border: 2px solid var(--theme-colors-border);
}

.close {
    position: absolute;
    top: var(--theme-spacing-md);
    right: var(--theme-spacing-md);
}
