.wavesurfer-container {
    width: 100%;
    cursor: pointer;
}

.waveform {
    align-items: center;
    width: 100%;
    height: 100%;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    padding: var(--theme-spacing-sm) var(--theme-spacing-md);
    font-size: var(--theme-font-size-md);
    font-weight: 550;
    color: var(--theme-colors-surface-foreground);
    white-space: nowrap;
    pointer-events: none;
    background: var(--theme-colors-surface);
    box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 20%);
}
