.item-grid-container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    padding: 0 var(--theme-spacing-md);
}

.auto-sizer {
    width: 100% !important;
    height: 100% !important;
}

.list-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.grid-list-container {
    width: 100%;
    padding: 0 var(--theme-spacing-md);
}

.item-list {
    display: flex;
}

.item-row {
    flex: 1 1 calc(100% / var(--columns));
    width: 100%;
    max-width: calc(100% / var(--columns));
    height: 100%;
    padding: var(--theme-spacing-sm);
    overflow: hidden;
}

.full-width-content {
    grid-column: 1 / -1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
}

.list-expanded-container {
    width: 100%;
    height: 100%;
}
