.item-grid-container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    padding: 0 var(--theme-spacing-md);
}

.grid-list-container {
    width: 100%;
    padding: 0 var(--theme-spacing-md);
}

.item-list {
    display: flex;
}

.item-row {
    flex: 1 1 calc(100% / var(--columns));
    width: 100%;
    max-width: calc(100% / var(--columns));
    height: 100%;
    padding: var(--theme-spacing-sm);
    overflow: hidden;
}

.list-expanded-container {
    width: 100%;
    height: 100%;
}
