.tooltip {
    padding: var(--theme-spacing-sm) var(--theme-spacing-md);
    font-size: var(--theme-font-size-md);
    color: var(--theme-colors-surface-foreground);
    background: var(--theme-colors-surface);
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 60%);
}
