.item-detail-container {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    padding: 0 var(--theme-spacing-md);
}

.list-expanded-container {
    width: 100%;
    height: 100%;
}

.item-list {
    width: 100%;
    height: 100%;
    padding-bottom: var(--theme-spacing-sm);
}
