.container {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    overflow: hidden;

    canvas {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    &:hover {
        .settings-icon {
            opacity: 1;
        }
    }
}

.container .settings-icon {
    z-index: 100;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.visualizer {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
