.container {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    overflow: hidden;

    canvas {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

}

.icon-group {
    z-index: 100;
}

.icon-group > * {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.container:hover .icon-group > * {
    opacity: 1;
}

.visualizer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
