.container {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 90px);
    background: var(--theme-colors-background-alternate);
}

.container.custom-bar {
    max-height: calc(100vh - 120px);
}

.scroll-area {
    flex: 1;
    min-height: 0;
    padding: 0 var(--theme-spacing-md) var(--theme-spacing-md) var(--theme-spacing-md);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.image-container {
    position: relative;
    flex-shrink: 0;
    width: var(--sidebar-image-height);
    height: var(--sidebar-image-height);
    padding: var(--theme-spacing-md);
    cursor: pointer;
    animation: fade-in 0.2s ease-in-out;

    button {
        display: none;
    }

    &:hover button {
        display: block;
    }
}

.sidebar-image {
    width: 100%;
    height: 100%;
    object-fit: var(--theme-image-fit);
    border-radius: var(--theme-radius-md);
}

.accordion-root {
    height: 100%;
}

.accordion-item {
    border-bottom: none;
}

.accordion-control {
    height: 2.5rem;
    border-radius: var(--theme-radius-md);

    &:hover {
        background: var(--theme-colors-background);
    }
}

.accordion-content {
    padding: 0;
    background: var(--theme-colors-background-alternate);
}

.accordion-content:last-child {
    padding-bottom: var(--theme-spacing-md);
}

.server-selector-wrapper {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}
