@value label from './sidebar-item.module.css';

.list {
    padding: var(--theme-spacing-sm) var(--theme-spacing-md);
}

.row {
    position: relative;
    display: flex;
    width: 100%;
}

.row-hover {
    :global(.label) {
        margin-right: 135px;
    }
}

.controls {
    position: absolute;
    top: 50%;
    right: var(--theme-spacing-xs);
    transform: translateY(-50%);
}

.row-dragged-over {
    border-radius: var(--mantine-radius-sm);
    box-shadow: 0 0 0 2px var(--theme-colors-primary);
    opacity: 0.8;
}
