.container {
    position: relative;
    width: 100%;
    height: 100%;
    container-name: expanded-album-list-item;
    container-type: inline-size;
    background-color: var(--theme-colors-surface);
    border-radius: var(--theme-radius-md);
}

.loading {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--theme-spacing-sm);
}

.expanded {
    position: relative;
    gap: var(--theme-spacing-md);
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    border-radius: var(--theme-radius-md);
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-xs);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-md);
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: var(--theme-spacing-md);
    overflow: hidden;
}

.item-title {
    z-index: 10;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.3;
    color: black;
    -webkit-box-orient: vertical;
}

.item-subtitle {
    z-index: 10;
    color: black;
    white-space: nowrap;
}

.dark {
    color: white;
}

.image-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    grid-area: image;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.background-image {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(2px);

    &::before {
        position: absolute;
        inset: 0;
        content: '';
        background: linear-gradient(to right, var(--bg-color) 0%, transparent 100%);
    }

    @container (min-width: 640px) {
        width: 80%;
    }

    @container (min-width: 768px) {
        width: 90%;
    }

    @container (min-width: 1200px) {
        width: 100%;
    }
}

.tracks {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--theme-spacing-sm);
    width: 60%;
    max-width: 700px;
    min-height: 0;

    @container (min-width: 640px) {
        width: 50%;
    }

    @container (min-width: 768px) {
        width: 40%;
    }

    @container (min-width: 1200px) {
        width: 30%;
    }
}

.tracks * {
    color: black;

    /* stylelint-disable-next-line selector-class-pattern */
    :global(.table-row-module_row) {
        /* height: var(--table-row-config-condensed-height); */
        border-bottom: none;
    }
}

.tracks.dark * {
    color: white;
}
