.container {
    width: 100%;
    height: 100%;
    padding: var(--theme-spacing-lg);
}

.inner {
    width: 100%;
    height: 100%;
    background-color: var(--theme-colors-surface);
    border-radius: var(--theme-radius-md);
}
