.container {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;
    overflow: hidden;
}

.icon-group {
    z-index: 100;
}

.icon-group > * {
    opacity: 0;
}

.container:hover .icon-group > * {
    opacity: 1;
}

.canvas {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.preset-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: var(--theme-spacing-xs) var(--theme-spacing-sm);
    font-weight: 500;
    color: #ddd;
    pointer-events: none;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 0 var(--theme-radius-md) 0 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.container:hover .preset-overlay {
    opacity: 1;
}
