.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: var(--theme-spacing-xs);
}

.content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}

.container.compact {
    padding: var(--theme-spacing-xs);
}
