.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: var(--theme-spacing-xs);
}

.container.center {
    align-items: center;
    text-align: center;
}

.container.left {
    text-align: left;
}

.container.right {
    text-align: right;
}

.content {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}

.container.compact {
    padding: var(--theme-spacing-xs);
}

.container.with-row-border {
    border-bottom: 1px solid var(--theme-colors-border);
}

.container.data-row.row-hover-enabled:hover::before,
.container.data-row.row-hover-enabled.row-hovered::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    content: '';
    background-color: var(--theme-colors-surface);
    opacity: 0.7;
}

.container.data-row > * {
    position: relative;
    z-index: 2;
}

.header-container {
    background: none;
}

.header-content {
    display: flex;
}

.header-content.center {
    justify-content: center;
}

.header-content.left {
    justify-content: flex-start;
}

.header-content.right {
    justify-content: flex-end;
}
