.item-table-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    overflow: hidden;
}

.item-table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.item-table-grid-container {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.item-table-pinned-rows-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.item-table-pinned-rows-grid-container {
    position: relative;
    flex: 0 1 auto;
    min-width: 0;
}

.item-table-pinned-rows-grid-container.with-header {
    border-bottom: 2px solid var(--theme-colors-border);
}

.item-table-pinned-columns-grid-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    min-height: 0;
}

.item-table-pinned-intersection-grid-container {
    position: relative;
    flex: 0 1 auto;
    min-width: 0;
}

.item-table-pinned-intersection-grid-container.with-header {
    border-bottom: 2px solid var(--theme-colors-border);
}

.item-table-pinned-columns-container {
    flex: 1 1 auto;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.item-table-pinned-right-columns-container {
    flex: 1 1 auto;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.no-scrollbar {
    scrollbar-width: none;
}

.height-100 {
    height: 100%;
}

.item-table-pinned-header-shadow {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        rgb(0 0 0 / 50%) 0%,
        rgb(0 0 0 / 5%) 50%,
        transparent 100%
    );
}

.item-table-left-scroll-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 8px;
    pointer-events: none;
    background: linear-gradient(
        to right,
        rgb(0 0 0 / 50%) 0%,
        rgb(0 0 0 / 5%) 50%,
        transparent 100%
    );
}

.item-table-right-scroll-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 8px;
    pointer-events: none;
    background: linear-gradient(
        to left,
        rgb(0 0 0 / 50%) 0%,
        rgb(0 0 0 / 5%) 50%,
        transparent 100%
    );
}

.list-expanded-container {
    height: 500px;
}
