.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: var(--theme-spacing-xs);
}

.container.center {
    align-items: center;
    text-align: center;
}

.container.left {
    text-align: left;
}

.container.right {
    text-align: right;
}

.content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}

.container.compact {
    padding: var(--theme-spacing-xs);
}

.header-container {
    background: none;
}

.header-content {
    display: flex;
}

.header-content.center {
    justify-content: center;
}

.header-content.left {
    justify-content: flex-start;
}

.header-content.right {
    justify-content: flex-end;
}
