.item-table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.item-table-grid-container {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.item-table-sticky-rows-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.item-table-sticky-rows-grid-container {
    flex: 0 1 auto;
    min-width: 0;
}

.item-table-sticky-columns-grid-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    min-height: 0;
}

.item-table-sticky-intersection-grid-container {
    flex: 0 1 auto;
    min-width: 0;
}

.item-table-sticky-columns-container {
    flex: 1 1 auto;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.no-scrollbar {
    scrollbar-width: none;
}

.height-100 {
    height: 100%;
}
