.container {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-md);
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
}

.pagination-container {
    padding: var(--theme-spacing-sm) var(--theme-spacing-sm);
    overflow: hidden;
    border-top: 1px solid var(--theme-colors-border);
}
