.filter-bar {
    z-index: 1;
    padding: var(--theme-spacing-md) var(--theme-spacing-sm);

    @mixin dark {
        box-shadow: 0 5px 15px rgb(0 0 0 / 65%);
    }

    @mixin light {
        box-shadow: 0 2px 0 var(--theme-colors-border);
    }
}
