.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--theme-content-max-width);
    height: 100%;
    min-height: 0;
    margin: 0 auto;
}
