.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 200px;
    pointer-events: none;
    user-select: none;
    background-image: var(--theme-overlay-subheader);
    opacity: 0.7;
}

.background-image {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    opacity: 0.9;
}

.background-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    background: var(--theme-overlay-subheader);
    opacity: 0.5;
}
