.header-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: var(--theme-content-max-width);
    height: 100%;
    padding: 0 1rem;
}

.play-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
