.top-right {
    position: absolute;
    top: var(--theme-spacing-lg);
    right: var(--theme-spacing-md);
    z-index: 20;
}

.library-header {
    position: relative;
    display: grid;
    grid-template-areas: 'image' 'info';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: var(--theme-spacing-md);
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1rem 1rem;

    :global(.item-image-placeholder) {
        width: 88px !important;
        height: 88px;
    }

    .image {
        width: 125px !important;
        height: 125px;
    }

    @container (min-width: $mantine-breakpoint-sm) {
        grid-template-areas: 'image info';
        grid-template-rows: auto;
        grid-template-columns: 112px minmax(0, 1fr);
        align-items: flex-end;
        justify-items: start;
        height: auto;
        min-height: 200px;
        padding: 2.5rem 1.5rem 0.5rem;

        .image {
            width: 112px !important;
            height: 112px;
        }

        :global(.item-image-placeholder) {
            width: 112px !important;
            height: 112px;
        }
    }

    @container (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: 125px minmax(0, 1fr);

        .image {
            width: 125px !important;
            height: 125px;
        }

        :global(.item-image-placeholder) {
            width: 125px !important;
            height: 125px;
        }
    }

    &.compact {
        min-height: unset;
        padding: var(--theme-spacing-md) var(--theme-spacing-xs);

        :global(.item-image-placeholder) {
            width: 250px !important;
            height: 250px;
        }

        .image {
            width: 250px !important;
            height: 250px;
        }

        @container (min-width: $mantine-breakpoint-sm) {
            grid-template-columns: 200px minmax(0, 1fr);
            min-height: unset;
            padding: var(--theme-spacing-md) var(--theme-spacing-sm);

            .image {
                width: 200px !important;
                height: 200px;
            }

            :global(.item-image-placeholder) {
                width: 200px !important;
                height: 200px;
            }
        }

        @container (min-width: $mantine-breakpoint-lg) {
            grid-template-columns: 200px minmax(0, 1fr);
            padding: var(--theme-spacing-md) var(--theme-spacing-md);

            .image {
                width: 200px !important;
                height: 200px;
            }

            :global(.item-image-placeholder) {
                width: 200px !important;
                height: 200px;
            }
        }
    }
}

.image-section {
    z-index: 15;
    display: flex;
    grid-area: image;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 8px rgb(0 0 0 / 50%));

    @container (min-width: $mantine-breakpoint-sm) {
        align-items: flex-end;
    }
}

.metadata-section {
    z-index: 15;
    display: flex;
    flex-direction: column;
    grid-area: info;
    gap: var(--theme-spacing-xs);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;

    @container (min-width: $mantine-breakpoint-sm) {
        align-items: flex-start;
        justify-content: flex-end;
        text-align: left;
    }
}

.image {
    object-fit: var(--theme-image-fit);
    border-radius: 5px;
}

.title {
    display: flex;
    margin: 0;
    font-size: clamp(1.25rem, 2dvw, 1.75rem);
    font-weight: 800;
    line-height: 1.1;
    word-break: keep-all;
    text-wrap: pretty;
}

.library-header-menu {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-xs);
    align-items: center;
    justify-content: center;
    width: 100%;

    @container (min-width: $mantine-breakpoint-sm) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
