.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    container-type: inline-size;
    overflow: hidden;
}

.sidebar-container {
    position: relative;
    flex-shrink: 0;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid var(--theme-colors-border);
}

.content-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    height: 100%;
    overflow: hidden;
}
