.play-button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--theme-spacing-sm);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.play-button-group-vertical {
    flex-direction: column;
    width: auto;
    height: auto;
}
