.content-container {
    position: relative;
    z-index: 0;
    container-type: inline-size;
}

.detail-container {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-2xl);
    padding: 1rem 2rem 5rem;
}
