.symbol-body {
    svg {
        stroke: alpha(var(--theme-colors-foreground), 0.7);
        stroke-width: 2px;

        &:not([data-filled='true']) {
            fill: transparent;
        }
    }
}
