.album-container {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--theme-colors-foreground-muted);
    user-select: none;
}

.album-link {
    display: inline;
    width: max-content;
    max-width: 100%;
}

.album-container.compact {
    -webkit-line-clamp: 1;
}

.album-container.large {
    -webkit-line-clamp: 3;
}
