.group {
    gap: var(--theme-spacing-sm) var(--theme-spacing-xs);
    overflow: hidden;
}

.group a {
    cursor: pointer;
}

.artists-container {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--theme-colors-foreground-muted);
    user-select: none;
}

.artists-container.compact {
    -webkit-line-clamp: 1;
}

.artists-container.large {
    -webkit-line-clamp: 3;
}
