.composers-container {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--theme-colors-foreground-muted);
    user-select: none;
}

.composers-container.compact {
    -webkit-line-clamp: 1;
}

.composers-container.large {
    -webkit-line-clamp: 3;
}
