.genres-container {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: var(--theme-colors-foreground-muted);
    user-select: none;
    -webkit-box-orient: vertical;
}

.genres-container.compact {
    -webkit-line-clamp: 1;
}

.genres-container.large {
    -webkit-line-clamp: 3;
}
