.skeleton {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.compact-image-container .skeleton {
    border-radius: 0;
}

.compact-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--theme-radius-md);
}

.compact-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}

.image-container-with-aspect-ratio {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--theme-radius-md);
}

.image-container-with-aspect-ratio img {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: var(--theme-image-fit);
    object-position: center;
}

.skeleton-with-aspect-ratio {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.play-button-overlay button {
    width: 32px;
    height: 32px;
}

.compact-play-button-overlay button {
    width: 24px;
    height: 24px;
}

.folder-icon {
    color: black;
    fill: rgb(255 215 100);
}
