.skeleton {
    width: initial;
    aspect-ratio: 1 / 1;
}

.compact-image-container {
    width: 100%;
}

.image-container-with-aspect-ratio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
}

.image-container-with-aspect-ratio img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.play-button-overlay button {
    width: 36px;
    height: 36px;
}
