.name-container {
    display: -webkit-inline-box;
    align-self: flex-start;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a.name-container {
    width: auto;
}

.name-container.compact {
    -webkit-line-clamp: 1;
}

.name-container.large {
    -webkit-line-clamp: 3;
}

.active {
    color: var(--theme-colors-primary);
}
