.name-container {
    display: -webkit-inline-box;
    align-self: flex-start;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.name-container.compact {
    -webkit-line-clamp: 1;
}

.name-container.large {
    -webkit-line-clamp: 3;
}
