.title-combined {
    display: grid;
    grid-template-columns: calc(var(--row-height) - var(--theme-spacing-sm)) 1fr;
    gap: var(--theme-spacing-sm);
    align-items: center;
    height: 100%;
}

.text-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--theme-spacing-xs);
    min-width: 0;
}

.text-container.align-left {
    justify-items: start;
}

.text-container.align-center {
    justify-items: center;
}

.text-container.align-right {
    justify-items: end;
}

.text-container.compact {
    gap: 0;
}

.title {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.title {
    width: auto;
}


.artists {
    display: block;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--theme-font-size-xs) !important;
    color: var(--theme-colors-foreground-muted);
    white-space: nowrap;
    user-select: none;
}

.folder-icon {
    color: black;
    fill: rgb(255 215 100);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.play-button-overlay button {
    width: 32px;
    height: 32px;
}

.compact-play-button-overlay button {
    width: 24px;
    height: 24px;
}

.active {
    color: var(--theme-colors-primary);
}
