.panel {
    background: var(--theme-colors-background);
}

.control {
    background: var(--theme-colors-background);

    &:hover {
        background: var(--theme-colors-background);
    }
}

.chevron {
    display: flex;
    justify-content: center;
}
