.dropdown {
    padding: var(--theme-spacing-lg);
    color: var(--theme-colors-foreground);
    background: var(--theme-colors-background);
    border: 1px solid var(--theme-colors-border);
    border-radius: var(--theme-radius-xl);
    filter: drop-shadow(0 0 5px rgb(0 0 0 / 50%));
}
