.right-sidebar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: right-sidebar;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    background: var(--theme-colors-background-alternate);
    border-left: 1px solid alpha(var(--theme-colors-border), 0.3);

    .current-song-cell:not(.current-playlist-song-cell) svg {
        display: none;
    }
}

.queue-drawer {
    border-radius: var(--theme-radius-lg);
}
